name: CI

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Verify formatting, linting, proper JSDoc checking
        run: deno task verify

      - name: Run tests with coverage
        run: deno test --coverage=coverage

      - name: Generate coverage report
        run: |
          deno coverage --lcov \
            --exclude="src/tests/" \
            --exclude="src/constants/" \
            --exclude="src/types/" \
            --exclude="src/errors/" \
            > coverage/coverage.lcov

      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/coverage.lcov
          fail_ci_if_error: true
